html {
  margin: 0;
  padding: 0;
  }

body {
  background: rgb(255,161,149);
  background: -moz-linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  background: linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa195",endColorstr="#7facff",GradientType=1);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  }

.content {
  font-size: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  
  }

.center {
  height: auto;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;

  }

.box {
  background-color: hsl(0, 0%, 83%, 0.3);
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  display: block;
  width: 50%;

  }

.box-content {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  text-align: center;

  }


h1 {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 0;
  line-height: 1.4;
  text-transform: uppercase;

  }

p {
  font-size: 20px;
  line-height: 0.4;

  }

.box-1 {
  height: 25%;
  margin-left: 200px;
  margin-top: 100px;
  min-height: 200px;
  width: 24vw;
  min-width: 300px;

  }

.box-2 {
  height: 25%;
  margin-left: 600px;
  margin-top: -300px;
  min-height: 200px;
  width: 50vw;
  min-width: 350px;

  }

.box-3 {
  height: 25%;
  margin-left: 100px;
  min-height: 200px;
  margin-top: 100px;
  width: 40vw;
  min-width: 400px;
  
  }

.box-4 {
  height: 25%;
  margin-left: 650px;
  margin-top: -250px;
  min-height: 200px;
  width: 32vw;
  min-width: 300px;

  }

.box-5 {
  height: 40%;
  margin-left: 600px;
  margin-top: 0;
  min-height: 200px;
  width: 20vw;
  min-width: 300px;

  }


  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .box {
    width: 100vw;
    font-size: 2vw;
    min-width: 50px;
    max-width: 100px;
    height: 15%;

  }


  .box-1 {
    margin-left: 50px;
    margin-top: 80px;

  }

  .box-2 {
    margin-left: 200px;
    margin-top: -300px;

  }

  .box-3 {
    margin-left: 80px;
    min-height: 200px;

  }

  .box-4 {
     margin-left: 90px;
     margin-top: -250px;

  }

  .box-5 {
    margin-left: 100px;
    margin-top: 0;

  }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 .box {
   width: 40vw;
   font-size: 3vw;
   min-width: 150px;
   max-height: 200px;
   height: 20%;

  }

 .box-1 {
   margin-left: 100px;
   margin-top: 80px;

  }

 .box-2 {
   margin-left: 400px;
   margin-top: -100px;

  }

 .box-3 {
   margin-left: 50px;
   min-height: 200px;

  }

 .box-4 {
   margin-left: 250px;
   margin-top: -250px;

  }

 .box-5 {
   margin-left: 200px;
   margin-top: 0;

  }

}

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
  .box {
   min-width: 250px;
   min-height: 200px;

  }

  h1 {
   font-size: 24px;
   font-weight: 100;
   margin-bottom: 0;
   line-height: 1.4;
   text-transform: uppercase;

  }

  p {
   font-size: 18px;
   line-height: 0.6;

  }

 .box-1 {
   margin-left: 100px;
   margin-top: 80px;

  }

 .box-2 {
   margin-left: 600px;
   margin-top: -300px;

  }

 .box-3 {
   margin-left: 300px;
   min-height: 200px;

  }

 .box-4 {
   margin-left: 450px;
   margin-top: -250px;

  } 

 .box-5 {
   margin-left: 400px;
   margin-top: 0;

  }

}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {

}

