html {
  margin: 0;
  padding: 0;

  }

body {
  background: rgb(255,161,149);
  background: -moz-linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  background: linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa195",endColorstr="#7facff",GradientType=1);
  margin: 0;
  height: 100%;
  overflow: hidden;
  padding: 0;
  width: 100%;

  }

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
  
  }

.center 
.box-content.center {
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;

  }

.box {
  background-color: hsl(0, 0%, 83%, 0.3);
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  display: block;

  }



.box-content {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  text-align: center;

  }


h1 {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 0;
  line-height: 1.4;
  text-transform: uppercase;

  }

p {
  font-size: 20px;
  line-height: 0.8;

  }

.box-1 {
  height: 250px;
  margin-left: 200px;
  margin-top: 100px;
  min-height: 200px;
  width: 24vw;
  min-width: 300px;

  }

.box-2 {
  height: 250px;
  margin-left: 600px;
  margin-top: -300px;
  min-height: 200px;
  width: 50vw;
  min-width: 350px;

  }

.box-3 {
  height: 400px;
  margin-left: 100px;
  min-height: 200px;
  margin-top: 100px;
  width: 60vw;
  min-width: 400px;
  
  }

.box-4 {
  height: 250px;
  margin-left: 650px;
  margin-top: -250px;
  min-height: 200px;
  width: 32vw;
  min-width: 300px;

  }

.box-5 {
  height: 350px;
  margin-left: 600px;
  margin-top: -200;
  min-height: 200px;
  width: 20vw;
  min-width: 300px;

  }


@media only screen and (min-width: 400px) {
  .box {
    font-size: 0.4vw;
    max-height: 15vh;

  }

  .box-1 {
    margin-left: 10px;
    margin-top: 90px;
    min-height: 100px;
    width: 10vw;

  }

  .box-2 {
    margin-left: 210px;
    margin-top: -26px;
    min-height: 100px;
    width: 13vw;
  }

  .box-3 {
    margin-left: 20px;
    margin-top: -15px;
    min-height: 180px;
    width: 25vw;

  }

  .box-4 {
     margin-left: 200px;
     margin-top: 2px;
     min-height: 100px;
     width: 30vw;
  }

  .box-5 {
    margin-left: 120px;
    margin-top: 1px;
    width: 25vw;
    min-height: 100px;
}

  p {
    font-size: 10pt;
  }

  h1 {
    font-size: 14pt;
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .box {
    max-height: 20vh;

  }


  .box-1 {
    margin-left: 30px;
    margin-top: 20px;
    width: 40vw;
    height: 300px;

  }

  .box-2 {
    margin-left: 280px;
    margin-top: -25px;
    width: 50vw;
  }

  .box-3 {
    margin-left: 20px;
    margin-top: -22px;
    min-height: 200px;
    width: 60vw;

  }

  .box-4 {
     margin-left: 320px;
     margin-top: -20px;
     width: 45vw;
  }

  .box-5 {
    margin-left: 200px;
    margin-top: 2px;
    width: 35vw;
  }

  p {
    font-size: 14pt;
  }

  h1 {
    font-size: 18pt;
  }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 .box {
   min-height: 27vh;
   min-width: 40vw;

  }

 .box-1 {
   margin-left: 100px;
   margin-top: 20px;
   width: 40vw;
   height: 27vh;

  }

 .box-2 {
   margin-left: 400px;
   margin-top: -170px;
   width: 55vw;
   height: 29vh;

  }

 .box-3 {
   margin-left: 30px;
   margin-top: -25px;
   width: 50vw;
   height: 38vh;
  }

 .box-4 {
   margin-left: 430px;
   margin-top: -110px;
   width: 50vw;

  }

 .box-5 {
   margin-left: 100px;
   margin-top: -52px;
   width: 37vw;
  }

  p {
    font-size: 16pt;
    line-height: 1.0;
  }

  h1 {
    font-size: 20pt;
  }
}

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
  .box {
    min-width: 200px;

  }

 .box-1 {
   margin-left: 50px;
   margin-top: 50px;
   min-height: 280px;
   width: 30vw;

  }

 .box-2 {
   margin-left: 400px;
   margin-top: -250px;
   min-height: 300px;
   width: 50vw;

  }

 .box-3 {
   margin-left: 30px;
   min-height: 300px;
   margin-top: -20px;
   width: 60vw;
   min-width: 50vw;

  }

 .box-4 {
   margin-left: 690px;
   margin-top: -250px;
   width: 30vw;

  } 

 .box-5 {
   margin-left: 200px;
   margin-top: -10px;
   width: 50vw;

  }

  p {
   font-size: 20pt;
   line-height: 1.1;
  }

  h1 {
   font-size: 24pt;
  }

}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {

 .box {
   min-height: 250px;
}
 h1 {
  font-size: 32px;
  line-height: 1.6;

  }

 p {
  font-size: 26px;
  line-height: 0.9;

  }

 .box-1 {
   height: 350px;
   margin-left: 50px;
   margin-top: 80px;
   width: 30vw;
   min-width: 25vw;

  }

 .box-2 {
   height: 750px;
   margin-left: 850px;
   margin-top: -200px;
   width: 45vw;
   min-width: 35vw;

  }

 .box-3 {
   height: 480px;
   margin-left: 160px;
   margin-top: -70px;
   width: 50vw;
   min-width: 30vw;
  
  }

 .box-4 {
  height: 320px;
  margin-left: 830px;
  margin-top: -150px;
  min-width: 20vw;
  width: 30vw;

  }

 .box-5 {
  height: 350px;
  margin-left: 400px;
  margin-top: -299px;
  width: 40vw;
  min-width: 20vw;

  }
}

