* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255,161,149);
  background: -moz-linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  background: linear-gradient(90deg, rgba(255,161,149,0.910411622276029) 0%, rgba(190,165,207,1) 18%, rgba(127,172,255,0.9128329297820823) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa195",endColorstr="#7facff",GradientType=1);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;

}

.content {
  font-size: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  
}

.center {
  height: auto;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}

.box {
  background-color: hsl(0, 0%, 83%, 0.3);
  border: 2px solid lightgray;
  border-radius: 25px;
  color: white;
  display: block;
  vertical-align: top;
  width: 50%;


}

.box-content {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 22px;
  font-weight: 100;
  margin-bottom: none;
  line-height: 1.0;

}

p {
  font-size: 14px;
  line-height: 0.6;

}

.box-1 {
  height: 30%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 2px 2px 2px 2px;
  width: 12%;

}

.box-2 {
  height: 30%;
  width: 34%;
  margin-top: 25px;
  margin-left: 500px;
  padding: 0px 10px 0px 10px;
  top: 0;

}

.box-3 {
  height: 30%;
  width: 31%;
  margin-top: 28px;
  margin-left: 600px;
  padding: 0px 10px 0px 10px;
  
  }

.box-4 {
  height: 30%;
  width: 16%;
  margin-top: 15px;
  margin-left: 300px;
  padding: 0px 10px 0px 10px;

}

.box-5 {
  height: 30%;
  width: 7%;
  margin-left: 300px;
  padding: 0px 10px 0px 10px;

}
